<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LocalIp" value="192.168.2.57"/>
    <!--对外提供的虚拟IP-->
    <add key="ServiceIp" value="192.168.2.247"/>
    <add key="Gateway" value="192.168.2.1"/>
    <add key="SubnetMask" value="255.255.255.0"/>
    <add key="MacAddress" value="9C-5C-8E-06-3A-FC"/>
    <add key="AppList" value="D:\projects\earthquake_program\Earthquake_v3.2\TieFa.EarthQuakeService.Server\bin\Release\TieFa.EarthQuakeService.Server.exe"/>
  </appSettings>
</configuration>